Button {
    -fx-background-color: transparent;
}
.table-view .column-header,
.table-view .column-header .label {
    -fx-font-family: "MyriadPro";
    -fx-text-fill: black; /* color del texto del header */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color:  #7886C7 ;
}
.table-view .table-cell {
    -fx-font-size: 18px; /* Cambia este valor al que desees */
}